body{
    background-image: url("./media/main-background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title{
    margin-top: 35vh;
    text-align: center;
    font-size: 100px;
    color: white;
}

/* ON-OFF Buttons */
#turnOnBtn{
    padding: 10px 40px;
    color: black;
    font-size: 20px;
    font-weight: 800;
    border: none;
    transition: 0.3s;
}

#turnOnBtn:hover{
    transform: scale(1.15);
}

/* Menu Buttons */
.menuBtn{
    padding: 10px 40px;
    color: black;
    font-size: 20px;
    font-weight: 800;
    border: none;
    transition: 0.3s;
}

.menuBtn:hover{
    transform: scale(1.15);
}

/* Shop */
.custom-container{
    padding: 0px 90px;
}

#shopBackBtn{
    padding: 10px 40px;
    color: black;
    font-size: 20px;
    font-weight: 800;
    border: none;
    transition: 0.3s;
}

#shopBackBtn:hover{
    transform: scale(1.1);
}

/* Shop Card */
.shopCard{
    overflow: hidden;
    background-color: white;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    max-width: 300px;
    transition: 0.3s;
}

.shopCard h1, .shopCard h3{
    color: black;
}

.shopCard:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.shopTitle{
    color: white;
    font-size: 80px;
    text-align: center;
    font-weight: bolder;
}

#installedTag{
    font-weight: 700;
    font-size: 15px;
    color: white;
    background-color: green;
    padding: 5px 20px;
    border-radius: 20px;
}

/* Games Library Card */
.gamesLibraryCard{
    background-color: white;
    border-radius: 15px;
    margin: 20px 0px;
    padding: 10px 0px;
    max-width: 900px;
}