*{
    font-family: 'Jost', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("./media/animated-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.startTitle{
    margin-top: 35vh;
    text-align: center;
    font-size: 120px;
    color: white;
}

.generalBtn{
    padding: 10px 40px;
    color: black;
    font-size: 20px;
    font-weight: 800;
    border: none;
    min-width: 200px;
    transition: 0.3s;
}

.generalBtn:hover{
    transform: scale(1.1);
}

/* Menu */
.menuWrapper{
    margin: 0px;
}

.menuTime{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 5px 10px;
    margin: 20px 0px 120px 0px;
    text-align: end;
}

.mainMenuTitle{
    font-size: 80px;
    margin: 0px;
    text-align: center;
}

.menuBtn{
    background-color: white;
    width: 250px;
    min-width: 250px;
    height: 100px;
    color: black;
    font-size: 25px;
    font-weight: 700;
    border: none;
    transition: 0.3s;
}

.menuBtn:hover{
    transform: scale(1.15);
}

/* Shop */
.custom-container{
    padding: 0px 90px;
}

.shopCard{
    overflow: hidden;
    background-color: rgba(245, 245, 245, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 250px;
    min-width: 250px;
    transition: 0.3s;
}

.shopCard:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.shopTitle{
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    padding: 15px 0px;
    font-size: 75px;
    text-align: center;
    font-weight: bolder;
    width: 900px;
    min-width: 300px;
    margin: 0px;
}

.gameShopDetailsWrapper{
    margin: 30vh auto 0px auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 30px 0px;
    max-width: 600px;
}

#installedTag{
    font-weight: 700;
    font-size: 15px;
    color: white;
    background-color: green;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 0px 0px 10px 0px;
}

#deleteBtn{
    background-color: red;
    padding: 10px 40px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    border: none;
    transition: 0.3s;
}

#deleteBtn:hover{
    transform: scale(1.1);
}

/* Games Library */
.gamesLibraryCard{
    background-color: white;
    border-radius: 15px;
    margin: 20px 0px;
    padding: 10px 0px;
    max-width: 900px;
    transition: 0.3s;
}

.gamesLibraryCard:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.containerMemoryBar{
    position: relative;
    height: 25px;
    background-color: lightgray;
    margin-bottom: 5px;
    max-width: 1000px;
    padding: 0px;
    overflow: hidden;
    border-radius: 20px;
}

.percentageBar{
    position: absolute;
    color: black;
    margin: 0px;
    right: 15px;
    top: 3px;
}

.memoryBar{
    background-color: rgb(155, 255, 0);
    height: 100%;
}

/* Friends List */
.inputAddFriend{
    margin-bottom: 10px;
    border-radius: 25px;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
}

.inputAddFriend:focus {
    outline: none;
}

.inputAllert{
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(255, 0, 0, 0.60);
    color: white;
    padding: 2px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Friend Card */
.friendCardStyle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    min-width: 250px;
    overflow: hidden;
    transition: 0.3s;
}

.friendCardStyle:hover{
    transform: scale(1.1);
}

.friendCardTitle{
    color: white;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 5px 10px;
    border-radius: 5px;
}

.deleteFriendBtnStyle{
    color: white;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.9);
    top: 70%;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
}

/* Media Queries */
@media screen and (max-width: 480px){
    .custom-container{
        padding: 0px 20px;
    }
}